body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    \\ vh stands for view point 
    background-color: hsl(0, 0%, 97%);
}
#calculator{
    font-family: sans-serif;
    background-color: hsl(323, 62%, 90%);
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
}

#display{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: hsl(323, 75%, 85%);
    color:white;
}

#keys{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 25px;
}

button {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color:hsl(330, 80%, 47%);
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor:pointer;

}

button:hover{
    background-color: hsl(323, 45%, 83%);
}

button:active{
    background-color: hsl(323, 45%, 90%);
}

.operator-btn{
    background-color: hsl(323, 73%, 24%);
}

.operator-btn:hover{
    background-color: hsl(323, 45%, 83%);
}

.operator-btn:active{
    background-color: hsl(323, 45%, 90%);
}